.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

[data-theme="light"] .featureSvg [style*="fill: rgb(0, 0, 0);"] {
  fill: rgb(0, 0, 0) !important;
}
[data-theme="dark"] .featureSvg [style*="fill: rgb(0, 0, 0);"] {
  fill: var(--ifm-navbar-link-color, rgb(241, 241, 241)) !important;
}
