/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  /* height: 40vh; */
  /* 16:9 aspect ratio*/
  /* padding-top: 56.25%;  */
  padding-top: 41% !important;
  /* padding-top: 35% !important; */
  background-image: url(/static/img/RiverValleysAndACrow.webp);
  background-position: bottom;
  background-size: cover;
  background-color: #91a028;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.heroTextContainer {
  min-width: fit-content;
  width: 35%;
  max-width: 35%;
  margin: 0 auto;
}
.heroTitle {
  font-size: 2.5rem;
  font-weight: 500;
  color: #00000050;
  padding: 1rem;
  margin: 0;
  position: absolute;
  top: 0%;
  left: 0%;
}
.heroSubitle {
  font-size: 2rem;
  font-weight: 500;
  color: #000;
  padding: 0;
  margin: 0;
}
.featureSvg {
  position: absolute;
  top: 0%;
  /* width: inherit; */
  text-align: center;
  pointer-events: none;
}
