/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  /* height: 100vh; */
  /* height: 30vh; */
  height: 40vh;
  background-image: url(/static/img/RiverValleysAndACrow.png);
  background-position: 50%;
  background-size: cover;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.heroTextContainer {
  min-width: fit-content;
  width: 35%;
  max-width: 35%;
  margin: 0 auto;
}
.heroTextArea {
  background-color: #00000080;
  border-radius: 1rem;
  padding: 20px;
}
.heroTitle {
  font-size: 1.5rem;
  font-weight: 500;
  color: #fff;
  padding: 0;
  margin: 0;
}
.heroSubitle {
  font-size: 1.2rem;
  color: #fff;
  /* padding: 0;
  margin: 0; */
}
.featureSvg {
  position: absolute;
  top: 0%;
  /* width: inherit; */
  text-align: center;
  pointer-events: none;
}
